body{
    font-family: 'Open Sans';
}


.parallax{
    background-image: url("../images/banner1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topDiv{
    margin-top: 160px;
    /* margin-left: 5px; */
}